node_modules/
dist/
build/
.idea/
output.css



logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


.DS_Store
Thumbs.db


.npm/
.vscode/
*.swp
*.swo


yarn.lock
pnpm-lock.yaml


coverage/


.env
.env.local



*.iml
/shelf/
/.idea/workspace.xml

# Editor HTTP Client
/httpRequests/

# Data source configs
/dataSources/
dataSources.local.xml
